spring:
  main:
    web-application-type: NONE

logging:
  level:
    net.folivo.matrix: DEBUG

matrix:
  bot:
    serverName: example.org
    username: ping
    migration:
      url: jdbc:h2:file:./testdb/testdb
    database:
      url: r2dbc:h2:file:///./testdb/testdb
      username: sa
  client:
    homeServer:
      hostname: matrix.example.org
      secure: true
    token: superSecretToken